<div class="user-profile-menu-wrap fl-wrap">
    <!-- user-profile-menu-->
    <div class="user-profile-menu">
        <h3>Main</h3>
        <ul>
            <li><a class="act-link user-profile-act" href="@Url.Action("Index", "Manage")"><i class="fa fa-gears"></i>Dashboard</a></li>
            <li><a href="@Url.Action("EditProfile", "MyAccount")"><i class="fa fa-user-o"></i> Edit profile</a></li>
            <li><a href="@Url.Action("Messages", "MyAccount")"><i class="fa fa-envelope-o"></i> Messages <span>3</span></a></li>

            <li>
                User Account Controls
                <ul>
                    <li><a href="@Url.Action("ChangePassword", "Manage")"><i class="fa fa-unlock-alt"></i>Change Password</a></li>
                    <li><a href="@Url.Action("ManageLogins", "Manage")"><i class="fa fa-unlock-alt"></i>Manage External Logins</a></li>
                    <li><a href="@Url.Action("AddPhoneNumber", "Manage")"><i class="fa fa-unlock-alt"></i>Add Phone Number</a></li>
                    <li><a href="@Url.Action("VerifyPhoneNumber", "Manage")"><i class="fa fa-unlock-alt"></i>Verify Phone Number</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Test", "MyAccount")"><i class="fa fa-list"></i>Test</a></li>


        </ul>
    </div>
    <!-- user-profile-menu end-->
    <!-- user-profile-menu-->
    <div class="user-profile-menu">
        <h3>Listings</h3>
        <ul>
            <li><a href="~/Templates/Citybook/citybook/dashboard-add-listing.html"><i class="fa fa-plus-square-o"></i> Add My House</a></li>
        </ul>
    </div>
    <!-- user-profile-menu end-->
</div>
