@model YNHM.WebApp.Areas.Administration.ViewModels.DashboardVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="page-header">
        <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
        </div>
    </div>
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-user-1"></i></div><strong>People</strong>
                            </div>
                            <div class="number dashtext-1">@Model.Roomies.Count</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-contract"></i></div><strong>Houses</strong>
                            </div>
                            <div class="number dashtext-2">@Model.Houses.Count</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-paper-and-pencil"></i></div><strong>Pairs</strong>
                            </div>
                            @{ 
                                var pairs = Model.RoomiesPairs.Count / 2;
                            }
                            <div class="number dashtext-3">@pairs</div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>All Projects</strong>
                            </div>
                            <div class="number dashtext-4">41</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="stats-with-chart-2 block">
                        <div class="title"><strong class="d-block">Users Matched</strong></div>
                        <div class="piechart chart">
                            <canvas id="pieChartHome1"></canvas>
                            @{
                                var roomies = Model.Roomies.ToList();
                                var roomiesMatched = Model.Roomies.Where(x => x.IsMatched == true).ToList();
                                //var matchedPercentage = (roomiesMatched.Count / roomies.Count) * 100;
                            }
                            <div class="text"><strong class="d-block">@roomiesMatched.Count</strong><span class="d-block">Matches</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="stats-with-chart-2 block">
                        <div class="title"><strong class="d-block">Users Unmatched</strong></div>
                        <div class="piechart chart">
                            <canvas id="pieChartHome2"></canvas>
                            @{
                                var roomiesUnmatched = Model.Roomies.Where(x => x.IsMatched == false).ToList();
                            }
                            <div class="text"><strong class="d-block">@roomiesUnmatched.Count</strong><span class="d-block">Users</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="stats-with-chart-2 block">
                        <div class="title"><strong class="d-block">Users With House</strong></div>
                        <div class="piechart chart">
                            <canvas id="pieChartHome3"></canvas>
                            @{
                                var roomiesWithHouse = Model.Roomies.Where(x => x.HasHouse == true).ToList();
                            }
                            <div class="text"><strong class="d-block">@roomiesWithHouse.Count</strong><span class="d-block">Users</span></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="checklist-block block">
                        <div class="title"><strong>To Do List</strong></div>
                        <div class="checklist">
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-1" name="input-1" class="checkbox-template">
                                <label for="input-1">Update user photos</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-2" name="input-2" checked class="checkbox-template">
                                <label for="input-2">Update houses</label>
                            </div>
                            <div class="item d-flex align-items-center">
                                <input type="checkbox" id="input-3" name="input-3" class="checkbox-template">
                                <label for="input-3">Update statistics</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="messages-block block">
                        <div class="title"><strong>New Messages</strong></div>
                        <div class="messages">
                            @{
                                
                                for (int i = 0; i < 3; i++)
                                {

                                    <a href="#" class="message d-flex align-items-center">
                                        @*<div class="profile">
                                            <img src="img/avatar-3.jpg" alt="..." class="img-fluid">
                                            <div class="status online"></div>
                                        </div>*@
                                        @{
                                            var message = "";
                                            var time = "";
                                            if (i == 0) { message = "I would like to update my photo."; time = "9:30"; }
                                            if (i == 1) { message = "I've been matched by mistake! Please help!"; time = "3:00"; }
                                            if (i == 2) { message = "I need help in finding the right match for me!"; time = "5:15"; }
                                        }

                                        <div class="content"><strong class="d-block">@String.Format($"{roomies[i].FirstName} {roomies[i].LastName}")</strong><span class="d-block">@message</span><small class="date d-block">@time</small></div>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

