<footer class="pt-7 pt-md-10 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-12">
                <a class="d-inline-block mb-6" href="@Url.Action("Index","HomePage")">
                    <img src="~/Templates/Listty/StaticHTML/assets/img/YNHM-logo3.jpg" alt="YNHM logo" width="140" height="44" />
                </a>
                <p class="text-muted pt-1 pb-3">
                    Team project for the PeopleCert C# Coding Bootcamp (CB13). 
                </p>
                <ul class="list-unstyled text-muted">
                    <li class="mb-3">
                        <i class="fas fa-phone-alt mr-3" aria-hidden="true"></i>
                        <a class="text-muted" href="tel:+306912345678">+30 691 23 45 678</a>
                    </li>
                    <li class="mb-3">
                        <i class="fas fa-envelope mr-3" aria-hidden="true"></i>
                        <a class="text-muted" href="mailto:info@listy.com">info@ynhm.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3 col-xs-12">
                <div class="mb-4 mt-4 mt-md-0">
                    <h2 class="h4">Links</h2>
                </div>
                <ul class="list-unstyled list-gray">
                    <li class="mb-3">
                        <a href="@Url.Action("Index","HomePage")">Home</a>
                    </li>
                    <li class="mb-3">
                        <a href="@Url.Action("Register","Account")">Create Account</a>
                    </li>
                    <li class="mb-3">
                        <a href="@Url.Action("Login","Account")">Login</a>
                    </li>
                    <li class="mb-3">
                        <a href="@Url.Action("About","HomePage")">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-2 col-xs-12">
                <div class="mb-4 mt-4 mt-md-0">
                    <h2 class="h4">The Developers</h2>
                </div>
                <ul class="list-unstyled list-gray">
                    <li class="mb-3">
                        <a href="@Url.Action("AboutDevelopers","HomePage")">About Us</a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="row pb-md-6">

            <div class="col-sm-7 col-xs-12 align-self-center order-3 order-md-0">
                <p class="copy-right mb-0 pb-4 pb-md-0">
                    Copyright &copy; <span id="copy-year"></span>. All Rights Reserved by
                    <a href="http://www.iamabdus.com/" target="_blank"> Abdus</a>
                    <br />
                    Created my free logo at <a href="https://freelogo.me">FreeLogo.me</a>
                </p>
            </div>
        </div>
        
    </div>
</footer>