@using Microsoft.AspNet.Identity

<div class="menu-right">
    @if (Request.IsAuthenticated)
    {
        <div class="notification">
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0)">
                        <div class="media media-xs align-items-center">
                            <img class="rounded-circle mr-3" src="~/Templates/Listty/StaticHTML/assets/img/user/user-xs-1.jpg" alt="Image">
                            <div class="media-body">
                                <span class="font-weight-bold">Aaren</span>
                                <p class="mb-1">Lorem ipsum dolor sit amet.</p>
                                <em class="small">15min ago</em>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0)">
                        <div class="media media-xs align-items-center">
                            <img class="rounded-circle mr-3" src="assets/img/user/user-xs-2.jpg" alt="Image">
                            <div class="media-body">
                                <span class="font-weight-bold">Abby</span>
                                <p class="mb-1">Lorem ipsum dolor sit amet.</p>
                                <em class="small">26 min ago</em>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0)">
                        <div class="media media-xs align-items-center">
                            <img class="rounded-circle mr-3" src="assets/img/user/user-xs-3.jpg" alt="Image">
                            <div class="media-body">
                                <span class="font-weight-bold">Abriel</span>
                                <p class="mb-1">Lorem ipsum dolor sit amet.</p>
                                <em class="small">32 min ago</em>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0)">
                        See all
                    </a>
                </li>

            </ul>
        </div>
        <div class="avatar">
            <a class="dropdown-toggle" href="javascript:void(0)" role="button" data-toggle="dropdown" aria-haspopup="true"
               data-display="static" aria-expanded="false">
                <img class="avatar-img" data-src="~/Templates/Listty/StaticHTML/assets/img/user/user-2.jpg" src="~/Templates/Listty/StaticHTML/assets/img/user/user-2.jpg" alt="Image">
                <span class="avatar-name">
                    @User.Identity.GetUserName()
                </span>
            </a>
            <ul class="dropdown-menu">
                @if (User.IsInRole("Admin"))
                {
                <li>
                    <a class="d-flex flex-wrap align-items-center" href="@Url.Action("Index","Administrator",new { Area = "Administration"})">
                        <i class="fa fa-tachometer-alt mr-2" aria-hidden="true"></i>
                        <span>Admin</span>
                    </a>
                </li>
                }
                else if (User.IsInRole("Roomie"))
                {
                    <li>
                        <a class="d-flex flex-wrap align-items-center" href="@Url.Action("Index", "Manage")">
                            <i class="fa fa-tachometer-alt mr-2" aria-hidden="true"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                }
                <li>
                    <a class="d-flex flex-wrap align-items-center" href="@Url.Action("ViewProfile", "Manage")">
                        <i class="fa fa-user mr-2" aria-hidden="true"></i>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-wrap align-items-center" href="messages.html">
                        <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                        <span>Messages</span>
                    </a>
                </li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="d-flex flex-wrap align-items-center" href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="fa fa-diamond mr-2" aria-hidden="true"></i>
                            <span>Log Off</span>
                        </a>
                    }

                </li>
            </ul>

        </div>
    }
</div>

