     <!-- HEADER -->
<header class="header">
    <nav class="nav-menuzord navbar-sticky">
        <div class="container clearfix">
            <div id="menuzord" class="menuzord menuzord-responsive">

                <a href="@Url.Action("Index","HomePage")" class="menuzord-brand">
                    <img src="~/Templates/Listty/StaticHTML/assets/img/YNHM-logo3.jpg" alt="YNHM logo" width="140" height="44"/>
                </a>
                    @Html.Partial("~/Views/Shared/Update/_LoginRightMenu.cshtml")
            <ul class="menuzord-menu menuzord-right">
                <li class="active">
                    <a href="@Url.Action("Index", "HomePage")">Home</a>
                </li>
                <li class="">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("TestInfo","Test")">Test</a>
                    }
                </li>
                <li class="">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("People", "People", "HomePage")
                    }
                </li>
                <li class="">
                    @Html.ActionLink("Subscriptions", "Subscriptions", "HomePage")
                </li>
                <li class="">
                    @Html.ActionLink("About", "About", "HomePage")
                </li>


            </ul>

                </div>
            </div>
    </nav>

</header>
