@model YNHM.Entities.Models.House

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>House</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageViews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageViews)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Floor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bedrooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElevatorInBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElevatorInBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeWiFi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeWiFi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutdoorSeating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutdoorSeating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelchairFriendly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelchairFriendly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HouseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
