@model YNHM.Database.Models.Person

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- wrapper -->
<div id="wrapper">
    <!--  content  -->
    <div class="content">
        <!--  section  end-->
        <!--  section  -->
        <section class="parallax-section" data-scrollax-parent="true">
            <div class="bg par-elem " data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay"></div>
            <div class="container">
                <div class="section-title center-align">
                    <h2><span>Delete Person</span></h2>
                    <span class="section-separator"></span>
                </div>
            </div>
        </section>
        <!--  section  end-->
        <!--  section  -->
        <section class="gray-bg no-pading no-top-padding" id="sec1">

            <div class="col-list-wrap fh-col-list-wrap  left-list">
                <div class="container">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="listsearch-header fl-wrap">
                                <div class="listing-view-layout">
                                    <ul>
                                        <li><a class="grid active" href="#"><i class="fa fa-th-large"></i></a></li>
                                        <li><a class="list" href="#"><i class="fa fa-list-ul"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <h2><i> @Html.ActionLink("Back to List", "Index")</i></h2>
                                </div>
                            </div>
                            <!-- list-main-wrap-->
                            <div class="list-main-wrap fl-wrap card-listing">

                                <!-- listing-item -->
                                <div class="listing-item">
                                    <article class="geodir-category-listing fl-wrap">
                                        <div class="geodir-category-img">
                                            <img src="~/Models/FakeImages/person1.jpg" alt="">
                                            <div class="overlay"></div>

                                        </div>
                                        <div class="geodir-category-content fl-wrap">
                                            <h3>Are you sure you want to delete this person?</h3>
                                            <div>
                                                <hr />
                                                <dl class="dl-horizontal">
                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.FirstName)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.FirstName)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.LastName)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.LastName)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.Age)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.Age)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.MatchPercent)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.MatchPercent)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.Phone)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.Phone)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.Email)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.Email)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.Facebook)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.Facebook)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.Description)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.Description)
                                                    </dd>

                                                    <dt>
                                                        @Html.DisplayNameFor(model => model.PhotoUrl)
                                                    </dt>

                                                    <dd>
                                                        @Html.DisplayFor(model => model.PhotoUrl)
                                                    </dd>

                                                </dl>

                                                @using (Html.BeginForm())
                                                {
                                                    @Html.AntiForgeryToken()

                                                    <div class="form-actions no-color fl-wrap">
                                                        <input type="submit" value="Delete" class="btn btn-default  fs-map-btn" /> |
                                                    </div>
                                                }
                                            </div>


                                        </div>
                                    </article>
                                </div>
                                <!-- listing-item end-->
                                <!-- pagination-->
                                <div class="pagination">
                                    <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                                    <a href="#" class="blog-page transition">1</a>
                                    <a href="#" class="blog-page current-page transition">2</a>
                                    <a href="#" class="blog-page transition">3</a>
                                    <a href="#" class="blog-page transition">4</a>
                                    <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                                </div>
                            </div>
                            <!-- list-main-wrap end-->
                        </div>
                        <div class="col-md-4">
                            <div class="fl-wrap">


                            </div>
                            <!-- listsearch-input-wrap end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  section  end-->
        <div class="limit-box fl-wrap"></div>
        <!--  section  -->
        <section class="gradient-bg">
            <div class="cirle-bg">
                <div class="bg" data-bg="images/bg/circle.png"></div>
            </div>

        </section>
        <!--  section  end-->
    </div>
    <!-- content end-->
</div>
<!-- wrapper end -->
