@model YNHM.WebApp.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h3>For faster login or register use your social account.</h3>
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "custom-form" }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" class="soc-log fl-wrap form-group">
                @foreach (AuthenticationDescription p in loginProviders)
                {
                <button type="submit" class="btn log-submit-btn" id="@p.AuthenticationType" style="margin:5px"
                        name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                    @if (p.AuthenticationType.Equals("Facebook"))
                    {
                        @Html.Raw("<i class='fa fa-facebook-official'></i>  ") @p.AuthenticationType
                    }
                    else
                    {
                        @p.AuthenticationType
                    }
                </button>
                }
            </div>
        }
    }
}
