@model YNHM.WebApp.Models.RegisterViewModel

@{
    //Layout = "~/Views/Shared/Update/_LayoutL.cshtml";
    Layout = "~/Views/Shared/Update/Dashboard/_LayoutDashboard.cshtml";
}

@{
    ViewBag.Title = "Register";
}


<!-- ====================================
———	SIGN UP
===================================== -->
<section class="py-7 py-md-10 bg-light height100vh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-xl-7">
                <div class="bg-white p-5 rounded border">
                    <h2 class="font-weight-normal mb-4">Account Registration</h2>
                    <p>
                        Please fill out the fields below to create your account. We will send your account information to the email address
                        you enter. Your email address and information will NOT be sold or shared with any 3rd party. If you already have an
                        account, please,
                        <a href="@Url.Action("Login", "Account")">click here</a>.
                    </p>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "py-7", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        //TODO: VASSILIS: Register validations
                        <h3 class="h4 font-weight-normal mb-4 mt-7">Account Information</h3>
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="row mb-6">
                            <div class="form-group col-md-6 mb-4">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6 mb-4">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                                <button type="submit" class="btn btn-primary" value="Register"> Create Account </button>
                                }

                            </div>
                        </div>
        </div>
    </div>
</section>
