@model IEnumerable<YNHM.Database.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



<!-- wrapper -->
<div id="wrapper">
    <!--  content  -->
    <div class="content">
        <!--  section  end-->
        <!--  section  -->
        <section class="parallax-section" data-scrollax-parent="true">
            <div class="bg par-elem " data-bg="images/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay"></div>
            <div class="container">
                <div class="section-title center-align">
                    <h2><span>My matches</span></h2>
                    <span class="section-separator"></span>
                </div>
            </div>
            <div class="header-sec-link">
                <div class="container"><a href="#sec1" class="custom-scroll-link">Do the test and find your matches!</a></div>
            </div>
        </section>
        <!--  section  end-->
        <!--  section  -->
        <section class="gray-bg no-pading no-top-padding" id="sec1">
            <div class="col-list-wrap fh-col-list-wrap  left-list">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="listsearch-header fl-wrap">
                                <h3><span>@Html.ActionLink("Create New Person", "Create")</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="listsearch-header fl-wrap">
                                <h3>Results For : <span>All Matches</span></h3>
                                <div class="listing-view-layout">
                                    <ul>
                                        <li><a class="grid active" href="#"><i class="fa fa-th-large"></i></a></li>
                                        <li><a class="list" href="#"><i class="fa fa-list-ul"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- list-main-wrap-->
                            <div class="list-main-wrap fl-wrap card-listing">

                                @foreach (var person in Model)
                                {
                                    <!-- listing-item -->
                                    <div class="listing-item">
                                        <article class="geodir-category-listing fl-wrap">
                                            <div class="geodir-category-img">
                                                <img src="~/Models/FakeImages/person1.jpg" alt="">
                                                <div class="overlay"></div>

                                            </div>
                                            <div class="geodir-category-content fl-wrap">
                                                <a class="listing-geodir-category" href="listing.html">@person.MatchPercent %</a>
                                                <p> <h3><i>@Html.ActionLink("Edit", "Edit", new { id = person.PersonId })</i></h3></p>
                                                <p><h3><i> @Html.ActionLink("Delete", "Delete", new { id = person.PersonId })</i></h3></p>
                                                <h3>@Html.ActionLink($"{@person.FirstName} {@person.LastName}", $"Details/{@person.PersonId}", "People")</h3>
                                                <p>@person.Description</p>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- listing-item end-->
                                }

                                <!-- pagination-->
                                <div class="pagination">
                                    <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                                    <a href="#" class="blog-page transition">1</a>
                                    <a href="#" class="blog-page current-page transition">2</a>
                                    <a href="#" class="blog-page transition">3</a>
                                    <a href="#" class="blog-page transition">4</a>
                                    <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                                </div>
                            </div>
                            <!-- list-main-wrap end-->
                        </div>
                        <div class="col-md-4">
                            <div class="fl-wrap">
                                <!-- listsearch-input-wrap  -->
                                <div class="listsearch-input-wrap fl-wrap">
                                    <div class="listsearch-input-item">
                                        <i class="mbri-key single-i"></i>
                                        <input type="text" placeholder="Keywords?" value="" />
                                    </div>
                                    <div class="listsearch-input-item">
                                        <select data-placeholder="Location" class="chosen-select">
                                            <option>All Locations</option>
                                            <option>Center</option>
                                            <option>East</option>
                                            <option>North</option>
                                            <option>South</option>
                                            <option>West</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="listsearch-input-text" id="autocomplete-container">
                                        <label><i class="mbri-map-pin"></i> Enter Addres </label>
                                        <input type="text" placeholder="Destination , Area , Street" id="autocomplete-input" class="qodef-archive-places-search" value="" />
                                        <a href="#" class="loc-act qodef-archive-current-location"><i class="fa fa-dot-circle-o"></i></a>
                                    </div>*@
                                <div class="distance-input fl-wrap">
                                    <div class="distance-title"> Match Percentage <span></span> %</div>
                                    <div class="distance-radius-wrap fl-wrap">
                                        <input class="distance-radius rangeslider--horizontal" type="range" min="1" max="100" step="1" value="1" data-title="Radius around selected destination">
                                    </div>
                                </div>
                                <!-- Checkboxes -->
                                <div class=" fl-wrap filter-tags">
                                    <h4>Filter by Tags</h4>
                                    <div class="filter-tags-wrap">
                                        <input id="check-b" type="checkbox" name="check">
                                        <label for="check-b">Animals</label>
                                    </div>
                                    <div class="filter-tags-wrap">
                                        <input id="check-a" type="checkbox" name="check" checked>
                                        <label for="check-a">Smoking</label>
                                    </div>
                                    <div class="filter-tags-wrap">
                                        <input id="check-b" type="checkbox" name="check">
                                        <label for="check-b">Social</label>
                                    </div>
                                    <div class="filter-tags-wrap">
                                        <input id="check-c" type="checkbox" name="check">
                                        <label for="check-c">Vegan</label>
                                    </div>
                                    <div class="filter-tags-wrap">
                                        <input id="check-d" type="checkbox" name="check">
                                        <label for="check-d">Vegetarian</label>
                                    </div>
                                </div>
                                <!-- hidden-listing-filter end -->
                                <button class="button fs-map-btn">Update</button>
                            </div>
                            <!-- listsearch-input-wrap end -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  section  end-->
        <div class="limit-box fl-wrap"></div>
        <!--  section  -->
        <section class="gradient-bg">
            <div class="cirle-bg">
                <div class="bg" data-bg="images/bg/circle.png"></div>
            </div>
            <div class="container">
                <div class="join-wrap fl-wrap">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Join our online community</h3>
                            <p>Grow your marketing and be happy with your online business</p>
                        </div>
                        <div class="col-md-4"><a href="#" class="join-wrap-btn modal-open">Sign Up <i class="fa fa-sign-in"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!--  section  end-->
    </div>
    <!-- content end-->
</div>
<!-- wrapper end -->





@*Scafolding Index View*@

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatchPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoUrl)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PersonId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PersonId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PersonId })
            </td>
        </tr>
    }

</table>*@
