@model IEnumerable<YNHM.Database.Models.House>
@{ 
    Layout = "~/Views/Shared/Update/_LayoutL.cshtml";
}

<!-- MAP LISTING -->
@*<div class="map-container">
    <div id="listing-main-map" class="map-half map-listing-full"></div>
</div>*@


<!-- ====================================
———	CATEGORY LIST RIGHT SIDEBAR
===================================== -->
<section class="py-7 py-md-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <div class="search-result-bar mb-0">
                    <p>We found <span> 666 </span> results for <span> Houses </span> in <span> Kypseli </span> </p>
                    <div class="ml-md-auto d-flex align-items-center justify-content-between">
                        <div class="select-bg-transparent select-border">
                            <select class="select-location">
                                <option>Popular</option>
                                <option>Nearest</option>
                                <option>Recent</option>
                            </select>
                        </div>
                        <div class="icons">
                            <a class="mr-2" href="listing-grid-right-sidebar.html">
                                <i class="fa fa-th" aria-hidden="true"></i>
                            </a>
                            <a class="active" href="listing-list-right-sidebar.html">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                @foreach (var house in Model)
                {
                    <div class="card card-list card-listing" data-lat="-33.92148" data-lag="151.162852" data-id="2" data-varified="true">
                        <div class="row">
                            <div class="col-sm-5 col-xl-4">
                                <div class="card-list-img">
                                    <img class="listing-img lazyestload" data-src="@house.Photos.FirstOrDefault().PhotoUrl" src="@house.Photos.FirstOrDefault().PhotoUrl" alt="things-4">
                                </div>
                            </div>

                            <div class="col-sm-7 col-xl-8">
                                <div class="card-body p-0">
                                    <ul class="list-inline list-inline-rating">
                                        <li class="list-inline-item">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </li>
                                    </ul>

                                    <div class="d-flex justify-content-between align-items-center mb-1">
                                        <h3 class="card-title listing-title mb-0">
                                            <a href="@Url.Action($"SingleListing/{house.HouseId}")"> @house.Title </a>
                                        </h3>
                                        <button class="btn-like px-2" data-toggle="tooltip" data-placement="top" title="Add listing to favorites">
                                            <i class="far fa-heart text-primary" aria-hidden="true"></i>
                                            <span>@house.PageViews</span>
                                        </button>
                                    </div>
                                </div>

                                <span class="d-block mb-4 listing-address">@house.Address, @house.District</span>
                                <p class="mb-4">
                                    <strong>Rent:</strong> @house.Rent, <strong>Area:</strong> @house.Area, <strong>Bedrooms:</strong> @house.Bedrooms,
                                    <strong>Floor:</strong> @house.Floor,
                                    <strong>Air Condition:</strong> @house.AirCondition, <strong>Wheelchair access:</strong> @house.WheelchairFriendly,
                                    <strong>Free Wifi:</strong> @house.FreeWiFi,<strong>Animals:</strong> @house.PetFriendly, <strong>Elevator:</strong> @house.ElevatorInBuilding
                                </p>
                            </div>
                        </div>
                    </div>
                }

                <!-- ====================================
    ———	pagination
    ===================================== -->
                <section class="my-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item mr-2">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="page-item active mr-2"><a class="page-link" href="javascript:void(0)">1</a></li>
                            <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">2</a></li>
                            <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">3</a></li>
                            <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">4</a></li>
                            <li class="page-item mr-2"><a class="page-link" href="javascript:void(0)">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0)">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </section>

            </div>

            <div class="col-lg-4 pl-xl-6">
                <div class="mb-6">
                    <label class="mb-4 h5 font-weight-normal text-dark" for="enter-keyowrd">What are you looking for?</label>
                    <input type="text" class="form-control" id="enter-keyowrd" placeholder="Enter Keyword">
                </div>

                <div class="mb-6">
                    <label class="mb-4 h5 font-weight-normal text-dark" for="enter-keyowrd">Find By Location</label>
                    <input type="text" class="form-control" id="enter-location" placeholder="Enter Location">
                </div>

                <div class="mb-6">
                    <h5 class="mb-4 font-weight-normal">Filter by Area</h5>
                    <ul class="list-unstyled list-gray">
                        <li class="mb-2"><a href="#Dhaka">Dhaka</a></li>
                        <li class="mb-2"><a href="#Chittagong">Chittagong</a></li>
                        <li class="mb-2"><a href="#Rajshahi">Rajshahi</a></li>
                        <li class="mb-2"><a href="#Khulna">Khulna</a></li>
                        <li class="mb-2"><a href="#Barisal">Barisal</a></li>
                        <li class="mb-2"><a href="#Barisal">Sylhet</a></li>
                        <li class="mb-2"><a href="#Barisal">Rangpure</a></li>
                        <li class="mb-2"><a href="#Barisal">Gazipure</a></li>
                        <li class="mb-2"><a href="#Pabna">Pabna</a></li>
                    </ul>
                </div>

                <div class="mb-6">
                    <h5 class="mb-4 font-weight-normal">Related Categories</h5>
                    <ul class="list-unstyled list-gray">
                        <li class="mb-2"><a href="#Fast-food">Fast food</a></li>
                        <li class="mb-2"><a href="#Chinese">Chinese restaurants</a></li>
                        <li class="mb-2"><a href="#Creole">Creole restaurants</a></li>
                        <li class="mb-2"><a href="#Seafood">Seafood</a></li>
                        <li class="mb-2"><a href="#Thai">Thai restaurants</a></li>
                        <li class="mb-2"><a href="#Street">Street food</a></li>
                        <li class="mb-2"><a href="#Japanese">Japanese restaurants</a></li>
                        <li class="mb-2"><a href="#Greek">Greek restaurants</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

