@model YNHM.Entities.Models.House

@{
    Layout = "~/Views/Shared/Update/Dashboard/_LayoutDashboard.cshtml";
}

@{ 
    double RentPerPerson(int rent, int housemates)
    {
        double houseRent = rent;
        double mates = housemates;

        if (mates == 0) return 0;

        double rentPerPerson = houseRent / mates;
        return Math.Truncate(rentPerPerson);
    }
}

<section class="bg-light py-7 py-md-10">
    <div class="container">
        <div class="bg-white rounded shadow mb-8">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                            <img class="w-100 rounded rounded-md-left" data-src="@Model.PhotoUrl" src="@Model.PhotoUrl" alt="profile-user.jpg">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="p-6">
                        <h3 class="font-weight-normal mb-0">@Model.Address</h3>
                        <span class="d-inline-block mb-5" style="font-size: 1rem; font-weight: 600">@Model.District <i class="fa fa-location-arrow" aria-hidden="false"></i></span>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-2">
                                <i class="fa fa-bed" aria-hidden="true"></i> <strong>Bedrooms:</strong> @Model.Bedrooms
                            </li>
                            <li class="mb-2">
                                <i class="fas fa-euro-sign" aria-hidden="true"></i> <strong>Total Rent:</strong> @Model.Rent
                            </li>
                            <li class="mb-2">
                                <i class="fas fa-euro-sign" aria-hidden="true"></i> <strong>Current rent per person:</strong> @RentPerPerson(Model.Rent, Model.Roomies.Count)
                                <br /> 
                                <i class="fas fa-euro-sign" aria-hidden="true"></i><strong> With max capacity:</strong> @RentPerPerson(Model.Rent, Model.Bedrooms)
                            </li>
                            <li class="mb-2">
                                <i class="fa fa-building" aria-hidden="true"></i> <strong>Floor:</strong> @Model.Floor
                            </li>
                            <li class="mb-2">
                                <i class="fa fa-building" aria-hidden="true"></i> <strong>Area:</strong> @Model.Area m<sup>2</sup>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
