@using YNHM.Entities.Models
@model YNHM.WebApp.Models.PercentageVM


@{
    Layout = "~/Views/Shared/Update/Dashboard/_LayoutDashboard.cshtml";
}


<section class="py-7 py-md-10">
    <div class="container">



        @*searchbox*@

        <div class="row">

            @foreach (var roomie in Model.Compared)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card rounded-0 card-hover-overlay">
                        <div class="position-relative">
                            <img class="card-img rounded-0" data-src=@roomie.Key.PhotoUrl src=@roomie.Key.PhotoUrl alt="Card image cap">
                            <div class="card-img-overlay">
                                <h3>
                                    <a href="@Url.Action($"PersonalProfile/{roomie.Key.Id}",new { percentage = roomie.Value})">
                                        @roomie.Key.FirstName <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </a>
                                </h3>
                            </div>
                        </div>

                        <div class="card-footer bg-transparent">
                            <ul class="list-unstyled d-flex mb-0 py-2">
                                <li>
                                    <h4>@roomie.Value <i class="fa fa-percent" aria-hidden="false"></i> match</h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }


            @foreach (var roomie in Model.Roomies)
            {
                @*<div class="col-md-6 col-lg-4">
                        <div class="card rounded-0 card-hover-overlay">
                            <div class="position-relative">
                                <img class="card-img rounded-0" data-src="~/Models/FakeImages/person5.jpg" src="~/Models/FakeImages/person5.jpg" alt="Card image cap">
                                <div class="card-img-overlay">
                                    <h3>
                                        <a href="@Url.Action($"PersonalProfile/{roomie.Id}")">
                                            @roomie.FirstName <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </a>
                                    </h3>
                                </div>
                            </div>

                            <div class="card-footer bg-transparent">
                                <ul class="list-unstyled d-flex mb-0 py-2">
                                    <li>
                                        <h4>@GetPercentage(Model.CurrentUser, roomie) <i class="fa fa-percent" aria-hidden="false"></i> match</h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
            }


        </div>
    </div>
</section>

