@model YNHM.WebApp.Models.PersonalProfileVM
@{
    Layout = "~/Views/Shared/Update/Dashboard/_LayoutDashboard.cshtml";
}


<!-- ====================================
———	USER PROFILE
===================================== -->
<section class="bg-light py-7 py-md-10">
    <div class="container">
        <div class="bg-white rounded shadow mb-8">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        @if (Model.ViewedRoomie.PhotoUrl == null)
                        {
                            <img class="w-100 rounded rounded-md-left" data-src="~/Content/images/user/image.png" src="~/Content/images/user/image.png" alt="profile-user.jpg">
                        }
                        else
                        {
                            <img class="w-100 rounded rounded-md-left" data-src="@Model.ViewedRoomie.PhotoUrl" src="@Model.ViewedRoomie.PhotoUrl" alt="profile-user.jpg">
                        }
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="p-6">
                        <h3 class="font-weight-normal mb-0">@Model.ViewedRoomie.FirstName @Model.ViewedRoomie.LastName</h3>
                        <span class="d-inline-block mb-5" style="font-size: 1rem; font-weight: 600">@Model.Percentage <i class="fa fa-percent" aria-hidden="false"></i></span>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-2">
                                <i class="fa fa-envelope-open-text" aria-hidden="true"></i>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                                    optio, eaque rerum! Provident similique accusantium nemo autem. Veritatis
                                    obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                                    nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                                    tenetur error, harum nesciunt ipsum debitis quas aliquid. Reprehenderit,
                                    quia.
                                </p>
                            </li>
                            @*<li>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="@Model.ViewedRoomie.Email">@Model.ViewedRoomie.Email</a>
                            </li>
                            <li>
                                <i class="fab fa-facebook"></i>
                                <a href="@Model.ViewedRoomie.Facebook"><span> @Model.ViewedRoomie.Facebook</span></a>
                            </li>*@
                            <br />
                            <li>
                                @if (Model.ViewedRoomie.House != null)
                                {
                                    <i class="fa fa-house-user"></i>
                                    <a href="@Url.Action("House","HomePage",new { houseId = Model.ViewedRoomie.HouseId})">
                                        <span> See the house</span>
                                    </a>
                                }
                            </li>
                        </ul>
                        @if (!Model.ViewedRoomie.IsMatched)
                        {
                            <a class="btn btn-primary text-capitalize" href="@Url.Action("Match","HomePage",new { matchedUserId = Model.ViewedRoomie.Id})">
                                <i class="far fa-user" aria-hidden="true"></i> MATCH!
                            </a>
                        }
                    </div>
                </div>
                @if (Model.CurrentRoomie.IsSubscribed)
                {
                    if (Model.ViewedRoomie.Test == null || Model.CurrentRoomie.Test == null)
                    {
                        <div class="col-sm-8">
                            <div class="p-6">
                                <h4>The user has not taken the test yet</h4>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-8">
                            <div class="p-6">
                                <table id="my-booking" class="display nowrap table-data-default" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Number</th>
                                            <th>Question</th>
                                            <th>Their Answer</th>
                                            <th>Your Answer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var viewedQuestions = Model.ViewedRoomie.Test.Questions.ToList();
                                            var currentQuestions = Model.CurrentRoomie.Test.Questions.ToList();
                                            int count = 1;
                                        }
                                        @for (int i = 0; i < viewedQuestions.Count; i++)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td>@viewedQuestions[i].Text</td>
                                                <td>@viewedQuestions[i].Answer</td>
                                                <td>@currentQuestions[i].Answer</td>
                                            </tr>
                                            count++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
