@model YNHM.Entities.Models.Roomie
@{
    //Layout = "~/Views/Shared/Update/_LayoutL.cshtml";
    Layout = "~/Views/Shared/Update/Dashboard/_LayoutDashboard.cshtml";
}


<!-- ====================================
———	USER PROFILE
===================================== -->
<section class="bg-light py-7 py-md-10">
    <div class="container">
        <div class="bg-white rounded shadow mb-8">
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <img class="w-100 rounded rounded-md-left" data-src="~/Models/FakeImages/person5.jpg" src="~/Models/FakeImages/person5.jpg" alt="profile-user.jpg">
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="p-6">
                        <h3 class="font-weight-normal mb-0">@Model.FirstName @Model.LastName</h3>
                        <span class="d-inline-block mb-5" style="font-size: 1rem; font-weight: 600">@Model.IsMatched <i class="fa fa-percent" aria-hidden="false"></i></span>
                        <ul class="list-unstyled mb-5">
                            <li class="mb-2">
                                <i class="fas fa-phone-alt" aria-hidden="true"></i>
                                <a class="text-muted" href="@Model.Phone">@Model.Phone</a>
                            </li>
                            <li>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="@Model.Email">@Model.Email</a>
                            </li>
                            <li>
                                <i class="fab fa-facebook"></i>
                                <a href="@Model.Facebook"><span> @Model.Facebook</span></a>
                            </li>
                            <br>
                            <li>
                                @if (Model.House != null)
                                {
                                    <i class="fa fa-house-user"></i>
                                    <a href="@Url.Action("House","HomePage",new { houseId = Model.HouseId})">
                                        <span> See the house</span>
                                    </a>

                                }
                            </li>
                        </ul>
                        <a class="btn btn-primary text-capitalize" href="@Url.Action("Match","HomePage",new { matchedUserId = Model.Id})">
                            <i class="far fa-user" aria-hidden="true"></i> MATCH!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
